body {
	background-image: url(../images/background.png);
	min-height: 100vh;
	position: relative;
	display: block;
	margin: auto;
}

#content-wrap {
	clear: both;
	max-width: 960px;
	margin: auto;
	min-height: 100vh;
	padding-bottom: 0;
	margin-bottom: 90px;
}

#content-wrap::after {
	content: " ";
	clear: both;
	display: inline-block;
}

/* the white background for the navbar area */
header {
	width: 100vw;
	height: 90px;
	background: white;
	position: absolute;
	left: 0px;
	border-bottom: 2px solid lightgray;
	z-index: 20;
	margin-bottom: 20px;
}

/* parameters for the actual content of the navbar including name and links (to meet 960px criteria) */
#navbar {
	max-height: 90px;
	max-width: 960px;
	margin: auto;
}

/* styling the name in the header */
#name {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	height: 40px;
	margin: 0px;
	padding: 25px 40px;
	background: #4faaa5;
	color: white;
	float: left;
	font-size: 30px;
}

/* the links in header */
nav {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	position: relative;
	top: 32px;
	background: white;
	float: right;
}

.link {
	font-size: 18px;
}

.vl {
	color: gainsboro;
	font-size: 18px;
	font-weight: 200;
}

/* link button styling */

a:link,
a:visited {
	color: #777777;
	text-decoration: none;
}

a:hover {
	color: #4faaa5;
	text-decoration: none;
}

a:active {
	color: white;
	text-decoration: none;
}

.clearfix {
	overflow: auto;
}

.clearfix::after {
	content: " ";
	clear: both;
	display: block;
}

/* the white about me box that holds image and paragraph */
main {
	background: white;
	margin-bottom: 2.5em;
	max-width: 960px;
	border: 1px solid gainsboro;
	position: relative;
	top: 130px;
	z-index: 10;
}

#aboutmeline {
	position: relative;
	left: 30px;
	max-width: 890px;
	border-bottom: 3px solid gainsboro;
	margin-bottom: 30px;
}

#about {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	position: relative;
	color: #4faaa5;
	padding-top: 11px;
	font-size: 30px;
}

#image {
	display: block;
	height: 200px;
	width: 200px;
	float: left;
	position: relative;
	margin: 15px 0px 2px 30px;
}

#paragraph {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
	max-width: 890px;
	position: relative;
	left: 30px;
	top: 10px;
	padding-bottom: 20px;
	line-height: 2rem;
}

footer {
	background: #666666;
	color: white;
	text-align: center;
	width: 100vw;
	border-top: 8px solid #4faaa5;
	position: relative;
	bottom: 0px;
	height: 3.8em;
}

#copyright {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: lightgray;
	font-size: 12px;
	position: relative;
	top: 30px;
	margin-bottom: 0px;
}

/* *****CONTACT FORM STYLING BELOW HERE***** */

#contactline {
	position: relative;
	left: 30px;
	max-width: 890px;
	border-bottom: 3px solid gainsboro;
	margin-bottom: 20px;
}

#contactwords {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
	max-width: 890px;
	position: relative;
	left: 30px;
	padding: 0px;
	margin: 0px;
	line-height: 2rem;
}

#input {
	font-size: 16px;
	width: 875px;
	position: relative;
	left: 30px;
	padding: 5px 0px 5px 10px;
	margin-bottom: 10px;
	border: 1px solid gainsboro;
}

#messageinput {
	font-size: 16px;
	width: 884px;
	max-width: 884px;
	height: 200px;
	position: relative;
	left: 30px;
	padding-bottom: 0px;
	margin-bottom: 17px;
	overflow: auto;
	resize: both;
	border: 1px solid gainsboro;
}

#input[type="button"],
[type=submit] {
	background: #4faaa5;
	color: white;
	font-size: 18px;
	height: 40px;
	width: 120px;
	position: relative;
	border: none;
	left: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 30px;
	cursor: pointer;
}

#input[type="button"],
[type=submit]:hover {
	background: #47c7c0;
}

#input[type="button"],
[type=submit]:active {
	background: #8fded9;
}

::placeholder {
	color: #777777;
	font-size: 16px;
}

/* ***** PORTFOLIO STYLING BELOW HERE ***** */

.spacer {
	padding-top: 20px;
}

.container2 {
	position: relative;
	width: 100%;
	max-width: 275px;
	display: inline-block;
	margin-left: 30px;
}

.container2 img {
	width: 100%;
	height: auto;
}

.container2 .btn {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	position: absolute;
	width: 100%;
	top: 82%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background: #4faaa5;
	color: white;
	font-size: 20px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	text-align: center;
}

.container2 .btn:hover {
	background: #47c7c0;
}

.container2 .btn:active {
	background: #8fded9;
}

#hidden {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 32px;
	color: #777777;
	width: 100%;
	text-align: center;
	visibility: hidden;
	padding-bottom: 0px;
	height: 0px;
	margin: 0px;
}

#iframe-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

/* 
I HEARD YOU LIKE RESPONSIVENESS SO I GOT YOU SOME RESPONSIVENESS SO YOU CAN RESPONSIVENESS WHILE U RESPONSIVNESS 
*/


/* 
/IPADS/ **** MEDIA QUERY ********************************************************************************************
 */
@media only screen and 
	(min-device-width: 640px) and 
	(max-device-width: 920px) and
	(-webkit-min-device-pixel-ratio: 2){

	header {
		position: fixed;
		width: 100vw;
	}
	#navbar {
		height: 100%;
		width: 100vw;
	}

	nav {
		position: relative;
		right: 10px;
	}

	main {
		position: relative;
		top: 150px;
		width: 100vw;
	}

	#image {
		height: 40vw;
		width: 40vw;
		margin: auto 40px;
		margin-bottom: 40px;
	}

	#paragraph {
		max-width: 90vw;
	}

	#content-wrap {
		margin-bottom: 120px;
	}


	.container2 {
		max-width: 100vw;
		width: 40vw;
		margin-left: 6vw;
	}


	#input {
		max-width: 90vw;
		padding-right: 8px;
	}

	#messageinput {
		width: 90vw;
		max-width: 90vw;
		padding: 20px 0px 5px 10px;
	}


	#hidden {
		height: auto;
		padding-top: 20px;
		visibility: visible; 
	}
}

/* MEDIUM MEDIA QUERY FOR DESKTOP!!! ************************************************************************************** */

@media only screen and 
	(min-width: 640px) and
	(max-width: 920px) {
	/* 
 NAVBAR STYLING
*/
	header {
		position: fixed;
		width: 100vw;
	}
	#navbar {
		height: 100%;
		width: 100vw;
	}

	nav {
		position: relative;
		right: 10px;
	}

	/* 
MAIN CONTENT STYLING FOR ABOUT ME  
*/

	main {
		position: relative;
		top: 150px;
		width: 100vw;
	}

	#image {
		height: 40vw;
		width: 40vw;
		margin: auto 40px;
		margin-bottom: 40px;
	}

	#paragraph {
		max-width: 90vw;
	}

	#content-wrap {
		margin-bottom: 120px;
	}
	
	#aboutmeline {
		width: 90vw;
		max-width: 90vw;
	}
	/* 
************ { STYLING FOR PORTFOLIO PAGE } *************
*/

	.container2 {
		max-width: 100vw;
		width: 40vw;
		margin-left: 6vw;
	}

	/* ************************ { CONTACT FORM } ********************************************************
*/

	#input {
		max-width: 90vw;
	}

	#messageinput {
		width: 90vw;
		max-width: 90vw;
		padding: 5px 0px 5px 10px;
	}
}

/* 
small QUERY FOR DESKTOP********************************************************************************************
 */

 @media only screen and 
 (min-width: 320px) and 
 (max-width: 667px) {
 /* 
 NAVBAR STYLING
*/
 header {
	 position: fixed;
	 width: 100vw;
 }
 #navbar {
	 height: 100%;
	 width: 100vw;
 }

 nav {
	 position: relative;
	 right: 10px;
 }

 /* 
MAIN CONTENT STYLING FOR ABOUT ME  
*/

 main {
	 position: relative;
	 top: 150px;
	 width: 100vw;
 }

 #aboutmeline {
	 width: 90vw;
	 max-width: 90vw;
 }
 #image {
	 height: 50vw;
	 width: 50vw;
	 margin: auto 25vw;
	 margin-bottom: 40px;
 }

 #paragraph {
	 max-width: 90vw;
 }

 #content-wrap {
	 margin-bottom: 120px;
 }

 /* 
************ { STYLING FOR PORTFOLIO PAGE } *************
*/

 .container2 {
	 max-width: 100vw;
	 width: 75vw;
	 margin-left: 12vw;
 }

 /* ************************ { CONTACT FORM } ********************************************************
*/

 #input {
	 max-width: 85vw;
 }

 #messageinput {
	 width: 85vw;
	 max-width: 85vw;
	 padding: 5px 0px 5px 10px;
 }

 #hidden {
 }
}

/* MEDIA QUERY FOR IPHONE 6/7/8 ************************************************************************************************ */
@media only screen and 
	(min-device-width: 320px) and 
	(max-device-width: 667px) and 
	(-webkit-min-device-pixel-ratio: 2) {
	/* 
    NAVBAR STYLING
 */
	header {
		position: fixed;
	}
	#navbar {
		height: 100%;
	}
	#name {
		width: 40%;
		text-align: center;
		font-size: 4rem;
		padding-top: 10px;
		height: 55px;
	}

	nav {
		position: relative;
		width: 30%;
	}

	main {
		position: relative;
		top: 150px;
	}
 
	/* 
MAIN CONTENT STYLING FOR ABOUT ME  
 */
	#aboutmeline {
		width: 80vw;
		max-width: 80vw;
	}

	#image {
		height: 400px;
		width: 400px;
		margin: auto 245px;
		margin-bottom: 40px;
	}

	#paragraph {
		line-height: 3.5rem;
	}

	#content-wrap {
		margin-bottom: 120px;
	}

	/* FOOTER STYLING */

	#copyright {
		font-size: 18px;
		top: 10px;
	}

	/* 
************ { STYLING FOR PORTFOLIO PAGE } *************
*/

	.container2 {
		max-width: 750px;
		width: 750px;
		left: 105px;
		margin: 40px 0px;
	}

	.container2 .btn {
		height: 100px;
		font-size: 48px;
	}

	#about {
		font-size: 48px;
		max-height: 150px;
	}

	#hidden {
		height: auto;
		padding-top: 20px;
		visibility: visible;
	}

	/* ************************ { CONTACT FORM } ********************************************************
	*/

	#input {
		max-width: 85vw;
		padding-right: 40px;
	}

	#messageinput {
		width: 85vw;
		max-width: 85vw;
		padding: 5px 40px 5px 10px;
	}
}
